name: Debugging

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'Operating system to run on'
        required: true
        type: choice
        options:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        default: ubuntu-latest

jobs:
  debug:
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: '25'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
      
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Setup upterm session
        uses: owenthereal/action-upterm@v1
        with:
          limit-access-to-actor: true
