name: Tests

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: '25'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/actions/wrapper-validation@v4
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set up JBang
        uses: jbangdev/setup-jbang@main

      - name: Formatting check
        run: ./gradlew --no-daemon spotlessCheck
      - name: Execute Gradle build
        run: ./gradlew build -x spotlessCheck
      - name: Update jbang-catalog.json to include new demos
        run: |
         ./gradlew publishToMavenLocal
         ./gradlew updateJBangCatalog --verify-builds

      - name: Check jbang-catalog.json is up to date
        run: |
          if ! git diff --exit-code -- jbang-catalog.json; then
            echo "::error file=jbang-catalog.json::jbang-catalog.json is out of sync. Please run './gradlew updateJBangCatalog --verify-builds' and commit the changes."
            exit 1
          fi
