name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
      next-version:
        description: 'Next version'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Bump version to final
        run: |
          sed -i -e "s/^version=.*/version=${{ github.event.inputs.version }}/" gradle.properties
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Action"
          git commit -a -m "[release] Releasing version ${{ github.event.inputs.version }}"
          git push origin main
      - uses: ./.github/actions/shared-build-setup
      - name: Execute Gradle build
        if: env.CENTRAL_USERNAME
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_SIGNING_PASSWORD: ${{ secrets.GPG_SIGNING_PASSWORD }}
      - name: Release
        uses: jreleaser/release-action@v2
        with:
          arguments: full-release
        env:
          JRELEASER_PROJECT_VERSION: ${{ github.event.inputs.version }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GIT_ACCESS_TOKEN }}
      - name: JReleaser release output
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: jreleaser-release
          path: |
            out/jreleaser/trace.log
            out/jreleaser/output.properties
      - name: Bump version to next
        run: |
          sed -i -e "s/^version=.*/version=${{ github.event.inputs.next-version }}/" gradle.properties
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Action"
          git commit -a -m "[release] Bumping version to ${{ github.event.inputs.next-version }}"
          git push origin main
